@charset "utf-8";
body{
    margin:0px;
}
#Main{
    height:100vh;
    width:100vw;
    display:grid;
    grid-template-columns:60vw 40vw;
}
#File{
    height:100%;
    width:100%;
    display:grid;
    grid-template-rows:4fr 10fr 2fr 2fr;
}
#Settings{
    height:100%;
    width:100%;
    display:grid;
    grid-template-columns:7fr 1fr;
}
#FileSettings{
    height:100%;
    width:100%;
    display:grid;
    grid-template-rows:1fr 1fr;
}
#DateSettings{
    height:95%;
    width:90%;
    display:grid;
    grid-template-rows:1fr 2fr 2fr;
    border:0.3px groove black;
    margin-top:6%;
    }
.TableDiv{
    height:50vh;
    border:0.3px groove black;
    overflow-y:scroll;
}
#Info,#Update{
    height:75%;
    margin:1%;
    border:0.3px groove black;
}

.FileDiv{
    height:90%;
    width:95%;
    display:grid;
    grid-template-columns:1fr 5fr 1fr;
    border:0.3px groove black;
    margin-left:1%;
    margin-top:1%;
}
.fileSearch{
    display:none;
}
.table{
    display:table;
    height:50vh;
    width:100%;
    border-collapse:collapse;
    /* table-layout:fixed; */
    /* word-break:normal;
    word-wrap:normal; */
    border:1px solid #000;
    text-align:center;
}
tr{
    width:100%;
    height:3px;
    border:0.5px solid black;
}

th{
    height:5px;
    /* width:10%; */
    border: 1px solid white;
    /* text-align:center; */
    word-break:normal;
    font-size:1vh;
    background:rgb(23, 23, 23);
    position:sticky;
    top:0;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
td{
    white-space:nowrap;
    font-size:1vh;
    overflow:hidden;
    /* word-break:auto; */
    height:5px;
    width:10%;
    text-overflow:ellipsis;
}
thead{
    height:10%;
}
tbody{
    height:90%;
}
.select{
    background-color:beige;
    color:black;
    font-weight:bold;
}
.date{
    text-align:center;
}
.message{
    display:grid;
    grid-template-rows:0.5fr 10fr;
    height:100%;
    width:20vw;
}
#Message{
    display:grid;
    grid-template-rows:0.5fr 10fr;

}
.msgDiv{
    border:0.5px solid black;
    height:100%;
    width:20vw;
}
#messageContent{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:3px;
}
.msgTitle{
    width:100%;        }
.msgTable{
    width:20vw;
}
.imgTd{
width:5vw;
height:8vh;
}
.tableMsg{
    width:20vw;
}
.tableTr{
    width:20vw;
    overflow:scroll;
}
.tableTrB{
    width:20vw;
    overflow:scroll;
}
.tableMsgDiv{
    width:20vw;
    overflow: scroll;
}

.tab_menu{position:relative;}
.tab_menu .list{overflow:hidden;}
.tab_menu .list li{float:left;}
.tab_menu .list .btn{width:100px;font-size:13px; margin-right:14px;}
.tab_menu .list .cont{display:none; position:absolute; background:white; color:#fff; text-align:center; width:98%; height:50vh; line-height:100px;left:10px}
.tab_menu .list li.is_on .btn{font-weight:bold; color:red;background: gray;width:150px}
.tab_menu .list li.is_on .cont{display:block;background:gray;}
