@charset "utf-8";
body{
    margin:0px;
}
#Main{
    height:98vh;
    display:grid;
    grid-template-rows:5vh 91vh;
}
#File{
    height:90vh;
    width:100%;
    
}
#Settings{
    height:20vh;
    width:100%;
    display:grid;
    grid-template-columns:7fr 1fr;
}
#FileSettings{
    height:100%;
    width:100%;
    display:grid;
    grid-template-rows:1fr 1fr;
}
/* #DateSettings{
    height:95%;
    width:90%;
    display:grid;
    grid-template-rows:1fr 2fr 2fr;
    border:0.3px groove black;
    margin-top:6%;
    } */
/* .TableDiv {
    border:0.3px groove black;
    overflow-y:scroll;
    max-height:98%;
} */

.FileDiv{
    height:90%;
    width:95%;
    display:grid;
    grid-template-columns:1fr 5fr 1fr;
    border:0.3px groove black;
    margin-left:1%;
    margin-top:1%;
}
.fileSearch{
    display:none;
}
.table{
    display:table;
    max-height:100%;
    width:100%;
    border-collapse:collapse;
    border:1px solid #000;
    table-layout:fixed;
}
tr{
    width:100%;
    border:0.5px solid black;
    height:5vh;
}

th{
    border: 1px solid white;
    word-break:normal;
    background:rgb(23, 23, 23);
    position:sticky;
    top:0;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-weight:bold;
    text-size-adjust: 100%;
}
td{
    white-space:nowrap;
    overflow:hidden;
    height:5px;
    text-overflow:ellipsis;
    font-size:80%;
    word-break:break-all
}

.select{
    background-color:beige;
    color:black;
    font-weight:bold;
}
.select1{
    background-color:rgb(167, 17, 82);
    color:black;
    font-weight:bold;
}
.date{
    text-align:center;
}

#msgDiv{
    display:grid;
    grid-template-rows:0.5fr 10fr;
    height:95vh;

}
#pltDiv{
    display:grid;
    grid-template-rows:1fr 9fr;
    height:95vh;
}
.msgDiv{
    border:0.5px solid black;
    width:99%;
    overflow: scroll;
    height:100%;
}

#messageContent{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:3px;
    height:90vh;
}
.msgTitle{
    width:100%;
}
.msgTable{
    width:99%;
    height:89vh;
    overflow: scroll;
}
.imgTd{
width:5vw;
height:8vh;
}
.tableMsg{
    width:20vw;
}
.tableTr{
    width:20vw;
    overflow:scroll;
}
.tableTrB{
    width:20vw;
    overflow:scroll;
}
.tableMsgDiv{
    width:27vw;
    overflow: hidden;
}
/* 내용 간력하게*/
.magContent{
    width:20vw;
    overflow:scroll;
}
.listI{overflow:hidden;margin-top:2%;margin-bottom: 0;}
.listI li{float:left;}
.listI .btn{width:100px;font-size:13px; margin-right:14px;}
.listI .cont{display:none; position:absolute; background:white; color:#fff; text-align:center; width:98%;  left:10px;height:93%}
.listI .contU{display:none; position:absolute; background:white; color:#fff; text-align:center; width:98%;  left:10px}
.is_onI .btn{font-weight:bold; color:red;background: gray;width:150px}
.is_onI .cont{display:block;background:gray;overflow-y: scroll;}
.is_onI .contU{display:grid;grid-template-rows:9fr 1fr;overflow-y: scroll;}

.listO{overflow:hidden;margin-top:2%;margin-bottom: 0;}
.listO li{float:left;}
.listO .btn{width:100px;font-size:13px; margin-right:14px;}
.listO .cont{display:none; position:absolute; background:white; color:#fff; text-align:center; width:98%;  left:10px;height:93%}
.is_onO .btn{font-weight:bold; color:red;background: gray;width:150px}
.is_onO .cont{display:block;background:gray;overflow-y:scroll}

#pltTitle{
    display:grid;
    grid-template-columns:1fr 1fr 2fr;
}
#pltTable{
    table-layout:fixed;
    width:100%;
}
#pltTable th{
    color:white;
}
.tabMenu{
    display:grid;
    grid-template-columns:75fr 25fr;
    height:90vh;
    border:1px solid black;
}
#Message,#MessageO{
    display:grid;
    grid-template-rows:5vh 85vh;
    border:1px solid black;
    height:90vh;
}
#tost_message{
    opacity:0;
    position:fixed;
    bottom:-100px;
    left:50%;
    transform:translate(-50%,0);
    padding: 10px 50px;
    background: rgba(0,0,0,0,70);
    border-radius:100px;
    color:#0d0d0d;
    box-shadow:3px 4px 11px 0px #000040;
    transition:all 0.5s;
}
#tost_message.show{
    opacity:1;
    bottom:50px;
}
.tab_menuI,.tab_menuO{
    position: relative;
    display:grid;
    grid-template-rows:5vh 85vh;
    border:1px solid black;
    height:90vh;
}
.tab_title{
    display:grid;
    grid-template-columns:3fr 1fr;
}
#Info{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.mainTab{
    margin:2px;
    border:1px solid black;
    border-radius:5px;
    background: rgb(169, 169, 244);
}
