@charset "utf-8";
body{
    margin:0px;
}
#Main{
    height:98vh;
    width:98vw;
    display:grid;
    grid-template-columns:60vw 40vw;
}
#File{
    height:97vh;
    width:100%;
    display:grid;
    grid-template-rows:45vh 45vh 7vh;
}
#Settings{
    height:20vh;
    width:100%;
    display:grid;
    grid-template-columns:7fr 1fr;
}
#FileSettings{
    height:100%;
    width:100%;
    display:grid;
    grid-template-rows:1fr 1fr;
}
/* #DateSettings{
    height:95%;
    width:90%;
    display:grid;
    grid-template-rows:1fr 2fr 2fr;
    border:0.3px groove black;
    margin-top:6%;
    } */
/* .TableDiv {
    border:0.3px groove black;
    overflow-y:scroll;
    max-height:98%;
} */

.FileDiv{
    height:90%;
    width:95%;
    display:grid;
    grid-template-columns:1fr 5fr 1fr;
    border:0.3px groove black;
    margin-left:1%;
    margin-top:1%;
}
.fileSearch{
    display:none;
}
.table{
    display:table;
    max-height:100%;
    width:100%;
    border-collapse:collapse;
    border:1px solid #000;
    table-layout:fixed;
}
tr{
    width:100%;
    border:0.5px solid black;
    height:5vh;
}

th{
    border: 1px solid white;
    word-break:normal;
    background:rgb(23, 23, 23);
    position:sticky;
    top:0;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-weight:bold;
    text-size-adjust: 100%;
}
td{
    white-space:nowrap;
    overflow:hidden;
    height:5px;
    text-overflow:ellipsis;
    font-size:80%;
    word-break:break-all
}

.select{
    background-color:beige;
    color:black;
    font-weight:bold;
}
.select1{
    background-color:rgb(167, 17, 82);
    color:black;
    font-weight:bold;
}
.date{
    text-align:center;
}
.message{
    display:grid;
    grid-template-rows:0.5fr 10fr;
    height:90vh;
    overflow-y:scroll;
    width:20vw;
}
#msgDiv{
    display:grid;
    grid-template-rows:0.5fr 10fr;
    height:95vh;

}
#pltDiv{
    display:grid;
    grid-template-rows:1fr 9fr;
    height:95vh;
}
.msgDiv{
    border:0.5px solid black;
    height:100%;
    width:20vw;
}

#messageContent{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:3px;
    height:90vh;
}
.msgTitle{
    width:100%;
}
.msgTable{
    width:20vw;
}
.imgTd{
width:5vw;
height:8vh;
}
.tableMsg{
    width:20vw;
}
.tableTr{
    width:20vw;
    overflow:scroll;
}
.tableTrB{
    width:20vw;
    overflow:scroll;
}
.tableMsgDiv{
    width:20vw;
    overflow: hidden;
}
/* 내용 간력하게*/
.magContent{
    width:20vw;
    overflow:scroll;
}
.tab_menuI {position:relative;}
.listI{overflow:hidden;}
.listI li{float:left;}
.listI .btn{width:100px;font-size:13px; margin-right:14px;}
.listI .cont{display:none; position:absolute; background:white; color:#fff; text-align:center; width:98%; height:90%; left:10px}
.listI .contU{display:none; position:absolute; background:white; color:#fff; text-align:center; width:98%; height:90%; left:10px}
.is_onI .btn{font-weight:bold; color:red;background: gray;width:150px}
.is_onI .cont{display:block;background:gray;overflow-y: scroll;}
.is_onI .contU{display:grid;grid-template-rows:9fr 1fr;overflow-y: scroll;}

.tab_menuO {position:relative;}
.listO{overflow:hidden;}
.listO li{float:left;}
.listO .btn{width:100px;font-size:13px; margin-right:14px;}
.listO .cont{display:none; position:absolute; background:white; color:#fff; text-align:center; width:98%; height:90%; left:10px}
.is_onO .btn{font-weight:bold; color:red;background: gray;width:150px}
.is_onO .cont{display:block;background:gray;overflow-y:scroll}

.msgH{
    display:none;
}
#pltTitle{
    display:grid;
    grid-template-columns:1fr 1fr 2fr;
}
#pltTable{
    table-layout:fixed;
    width:100%;
}
#pltTable th{
    color:white;
}
